* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1, h2, p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400; /* Peso regular */
    text-align: center;       
}

main {
flex-direction: column;
display: flex;
align-items:flex-start;

}
.background {
    
    background-size: cover; /* Cobrir todo o espaço da seção */
    height: 170vh; /* Altura total da viewport */
    width: 30%; /* Largura da seção */
    position: fixed; /* Fixa a seção na tela */
    right: 0; /* Alinha a seção à direita */
    top: 0; /* Alinha a seção no topo */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente o conteúdo */
    align-items: center; /* Centraliza horizontalmente o conteúdo */
    color: #fff; /* Cor do texto para contraste */
    text-align: center; /* Alinha texto ao centro */
    padding: 20px; /* Adiciona espaçamento interno */
    box-sizing: border-box; /* Mantém o padding dentro do tamanho especificado */
    z-index: -1; /* Coloca atrás de todo o conteúdo */
}

body {
    padding-bottom: 80px;
    font-family: 'Ubuntu', sans-serif; 
    text-align: left;  
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #155263;
    background-color: #FF9A3C;
    padding: 8px 8px 0px 0px;
    height: 24vh;
}

.cabecalho nav {
    display: flex;
}

.cabecalho a {
    text-decoration: none;
    color: #155263;
    padding: 8px;
    font-size: 1.3rem;
}

.cabecalho a:hover {
    color: #FF6F3C;
}

.cabecalho img {
    height: 70px; /* Ajuste conforme necessário */
    margin-right: 10px;
}

.cabecalho h1 {
    font-size: 3rem;
}


.corpo {
    width: 80%;
    max-width: 30rem;
    margin: 20px 20px 20px 0; 
    padding: 20px;
    
}
.conteudo{
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-container {
    padding: 16px;
    width: 100%;
    margin-right: 20;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #0e0d0d;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    background-color: #155263;
    color: #FFF6E9;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #FF9A3C;
    color: black;
    transform: translateY(-2px);
}

.contato-whatsapp {
    position: fixed;
    bottom: 80px;
    right: 16px;
    width: 56px;
    height: 56px;
    background-color: #90D26D;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.contato-whatsapp img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contato-whatsapp:hover {
    background-color: #FF9A3C;
}

footer {
    background-color: #155263;
    color: #FFF6E9;
    text-align: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
}
/*
Media Queries
*/

/* Para telas menores que 768px */
@media (max-width: 768px) {
    .cabecalho {
        padding: 40px 16px;
    }
  
    .cabecalho h1 {
        font-size: 2.5rem;
    }
  
    .corpo {
        width: 95%; /* Reduz a largura do corpo */
        max-width: 100%; /* Ajusta a largura máxima */
        margin: 20px auto;
        padding: 20px;
    }
  
    .form-container {
        max-width: 95%; /* Reduz a largura do formulário */
        padding: 16px;
    }
  
    .form-group input,
    .form-group textarea {
        padding: 8px; /* Reduz o preenchimento dos campos de formulário */
        font-size: 0.9rem; /* Reduz o tamanho da fonte dos campos de formulário */
    }
  
    button {
        padding: 12px 20px; /* Ajusta o preenchimento do botão */
        font-size: 1rem; /* Ajusta o tamanho da fonte do botão */
    }
  
    .background {
        width: 100%; /* Ajusta a largura da seção de fundo */
        height: 150vh; /* Altura total da viewport */
        background-position: center; /* Centraliza a imagem de fundo */
    }
  }
  
  /* Para telas menores que 480px */
  @media (max-width: 480px) {
    .cabecalho {
        height: auto;
        padding: 20px 8px;
    }
  
    .cabecalho h1 {
        font-size: 2rem;
    }
  
    .corpo {
        padding: 16px; /* Ajusta o preenchimento do corpo */
    }
  
    .form-container {
        padding: 12px; /* Ajusta o preenchimento do formulário */
    }
  
    .form-group input,
    .form-group textarea {
        font-size: 0.8rem; /* Reduz ainda mais o tamanho da fonte dos campos de formulário */
    }
  
    button {
        padding: 10px 16px; /* Ajusta o preenchimento do botão */
        font-size: 0.9rem; /* Reduz ainda mais o tamanho da fonte do botão */
    }
  
    .background {
        display: none;
    }
  }
  