* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 1rem;
    color: #155263;

}

h1, h2, p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    
}


.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #155263;
    background-color: #FFF6E9;
    padding: 8px 8px 0px 0px;
    height: 24vh;

}

.cabecalho img {
    width: 10%;
}

.conteudo {
    background-color: #FF9A3C;
    display: flex;
    flex-direction: column;
    padding: 8px;

}

a {
    text-decoration: none;
    color: #155263;
    padding: 8px;
    font-size: 1.3rem;
}

a:hover {
    color: #FF6F3C;
}

.servicos {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.servicos img {
    width: 30%;
    margin: 8px 0 8px 8px;
}

h2 {
    text-align: center;
}

article {
    background-color: #FFF6E9;
    width: 40%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
}

.breve-descricao {
    margin-top: 16px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sobre  {
    background-color: #FFF6E9;
    text-align: center;
    width: 40%;
    border-radius: 8px;
}

button {
    width: 10%;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    background-color: #155263;
    color: #FFF6E9;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #FFF6E9;
    color: black;
    transform: translateY(-2px);
}

footer {
    background-color: #155263;
    color: #FFF6E9;
    text-align: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
}

.descricao_servico:hover {
    transition: 0.5s;
    box-shadow: 6px 6px 3px #155263;
    transform: scale(1.02);
}

#botao_saibamais {
    font-size: 1rem;
    color: #FF9A3C;
}


@media (max-width: 480px) {
    .servicos {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    article {
        width: 100%;
    }

    .sobre {
        width: 100%;
    }

    button {
        width: 50%;
    }

    .cabecalho img {
        display: none;
    }

    a {
        font-size: 1.5rem;
    }

    .servicos img {
        width: 40%;
    }

    .cabecalho h1 {
        padding: 8px;
    }
}